azure-core==1.25.0
azure-storage-blob==12.13.1
backcall==0.2.0
bcrypt==3.2.2
beautifulsoup4==4.11.1
bleach==5.0.1
blinker==1.5
boto==2.49.0
boto3==1.24.65
botocore==1.27.65
cryptography==37.0.4
csv-diff==1.1
fastapi==0.80.0
google-api-core==1.31.5
google-auth==1.35.0
google-cloud-appengine-logging==1.1.0
google-cloud-audit-log==0.2.0
google-cloud-core==2.3.1
google-cloud-datastore==2.8.1
google-cloud-logging==2.7.2
google-cloud-storage==2.5.0
google-crc32c==1.3.0
google-resumable-media==2.3.3
googleapis-common-protos==1.52.0
GoogleAppEngineCloudStorageClient==1.9.22.1
grpc-google-iam-v1==0.12.3
maskpass==0.3.6
opencv-python==4.6.0.66
poetry
pandas==1.3.5
pymongo==4.2.0
pymongocrypt==1.3.1
python-dotenv==0.20.0
python-multipart==0.0.5
typer
urllib3==1.26.11
URLObject==2.4.3
user-agents==2.2.0
s3transfer==0.6.0
uvicorn==0.17.6
numpy
Cython
tzlocal
